[user]
	email = mikeb@squaremobius.net
	name = Michael Bridgen
[core]
	excludesfile = ~/.gitignore
[alias]
	fpush = push
        forcepush = push --force-with-lease
        amend = commit --amend
        pom = pull --ff-only origin master
        cached = diff --cached
[merge]
        conflictstyle = diff3
[pull]
        ff = only
